---
import CardImage from "@components/CardImage.astro";
import Title from "@components/Title.astro";
import Container from "@layouts/Container.astro";
import { PROYECTS } from "../../types/utils";
---

<Container styles="" id="proyects">
  <Title>Proyects</Title>
  <article class="w-full grid grid-cols-1 gap-2">
    {
      PROYECTS.map((e) => {
        return (
          <CardImage
            title={e.title}
            description={e.description}
            img={e.image}
            github={e.github}
            site={e.site}
          />
        );
      })
    }
  </article>
</Container>
