---
import Linkedin from "@icons/Linkedin.astro";
import IconButton from "./Home/IconButton.astro";
import { SOCIAL } from "src/types/utils";
import Email from "@icons/email.astro";
import Github from "@icons/Github.astro";
import PillButton from "./Home/PillButton.astro";
import Link from "@icons/link.astro";
---

<div class="hidden w-full items-center justify-evenly gap-2 md:flex">
    <PillButton to={SOCIAL.github} >
      Github <Link w="25" h="25" dark="#fff" light="#000" />
    </PillButton>
    <PillButton to={SOCIAL.email} >
      Email <Link w="25" h="25" dark="#fff" light="#000"/>
    </PillButton>
    <PillButton to={SOCIAL.linkedin} >
      Linkedin <Link w="25" h="25" dark="#fff" light="#000" />
    </PillButton>
  </div>
  <div class="flex w-full items-center justify-evenly gap-2 md:hidden">
    <IconButton to={SOCIAL.github}>
      <Github w="25" h="25" fill="#fff" onHover="#000" />
    </IconButton>
    <IconButton to={SOCIAL.email}>
      <Email w="25" h="25" fill="#fff" onHover="#000" />
    </IconButton>
    <IconButton to={SOCIAL.linkedin}>
      <Linkedin w="25" h="25" fill="#fff" onHover="#000" />
    </IconButton>
  </div>