---
import ButtonSocial from "@components/ButtonSocial.astro";
import Email from "@icons/social//Email.astro";
import Github from "@icons/social//Github.astro";
import Linkedin from "@icons/social//Linkedin.astro";
import { SITES, SOCIAL } from "../../types/utils";
---

<footer
  id="contact"
  class="bg-primary dark:bg-transparent flex w-full flex-col-reverse px-4 md:flex-row items-center justify-center gap-8 md:gap-2 border-primary py-4 shadow-top-md tracking-text leading-text"
>
  <article
    class="w-full md:w-2/4 h-full flex flex-col items-center justify-center gap-6 text-center"
  >
    <div class="flex flex-col sm:flex-row items-center justify-center gap-2">
      <div class="flex gap-2">
        <ButtonSocial to={SOCIAL.linkedin}>
          <Linkedin styles="fill-white " />
        </ButtonSocial>
        <ButtonSocial to={SOCIAL.github}>
          <Github styles="fill-white " />
        </ButtonSocial>
      </div>
      <div>
        <ButtonSocial to={SOCIAL.email}>
          <Email styles="fill-white " />
        </ButtonSocial>
      </div>
    </div>
    <!-- <div><SocialSection customStyles="absolute" /></div> -->
    <div class="text-sm text-white">
      <p>Copyright © 2024 - Developed by José Joel Labrada</p>
      <p>
        This portfolio has built with Astro + Tailwind <a
          class="px-1 rounded-sm bg-white dark:bg-transparent text-primary"
          href={SITES.portfolio.github}
          target="_blank">Souce code</a
        >
      </p>
    </div>
  </article>
  <!-- <article class="flex w-2/4 justify-center items-center md:px-8">
    <div class="flex flex-grow flex-wrap flex-row md:flex-col items-center justify-center gap-1 uppercase">
      {MENU.map(({name,to}:ROUTE) => <LinkNav word={name} to={to}/>)}
    </div>
  </article> -->
</footer>
