---
import Tech from '../Tech.astro'
import Container from '@layouts/Container.astro'
import HTML from '@icons/html.astro'
import CSS from '@icons/css.astro'
import JS from '@icons/js.astro'
import PHP from '@icons/php.astro'
import MYSQL from '@icons/mysql.astro'
import GIT from '@icons/git.astro'
---

<Container styles="" id="work" title="WorkExperience">
  <article class="-my-6">
    <div class="group relative py-6 pl-8 sm:pl-32">
      <div class="mb-1 text-lg font-medium sm:mb-0">Full-stack developer</div>
      <div
        class="mb-1 flex items-start gap-3 before:absolute before:left-2 before:h-full before:-translate-x-1/2 before:translate-y-3 before:self-start dark:before:bg-slate-300 before:bg-slate-600 before:px-px after:absolute after:left-2 after:box-content after:h-2 after:w-2 after:-translate-x-1/2 after:translate-y-1.5 after:rounded-full after:border-4 after:border-primary after:bg-primary group-last:before:hidden sm:flex-row sm:before:left-0 sm:before:ml-[6.5rem] sm:after:left-0 sm:after:ml-[6.5rem]"
      >
        <time
          class="left-0 mb-3 inline-flex translate-y-0.5 items-center justify-center text-xs font-semibold uppercase sm:absolute sm:mb-0"
          >Jan, 2022</time
        >
        <div class="translate-y-0.5 text-xs ">Xetid, La Habana</div>
      </div>
      <p class="tracking-text leading-text font-normal">
        Participé en un equipo de desarrollo donde trabajé en más de 5 proyectos web sobre la Plataforma Bienestar para la gestión de trámites de diferentes índoles (jurídicos, empresariales, internos de las empresas, etc).
        <br>Trabajé con clientes en la automatización de sus procesos internos y otros más enfocados a la prestación de servicios (Ej. Ministerio de Justicia de Cuba) En este aspecto desempeñe tareas de levantamiento de requisitos, reuniones, entre otras.
        <br>En mi primer año de trabajo fui promovido a desarrollador avanzado, y al comenzar el segundo año, a líder de proyecto.
      </p>
      <div class="inline-flex flex-wrap gap-2">
        <Tech name="HTML" styles="border-[#e44d26]  dark:bg-transparent dark:text-[#e44d26]" icon={HTML} />
        <Tech name="CSS" styles="border-[#1172b8]  dark:bg-transparent dark:text-[#1172b8]" icon={CSS} />
        <Tech name="JS" styles="border-[#f5de19]  dark:bg-transparent dark:text-[#f5de19]" icon={JS} />
        <Tech name="PHP" styles="border-[#777bb3]  dark:bg-transparent dark:text-[#777bb3]" icon={PHP} />
        <Tech name="MySQL" styles="border-[#00758f]  dark:bg-transparent dark:text-[#00758f]" icon={MYSQL} />
        <Tech name="Git" styles="border-[#ee513b]  dark:bg-transparent dark:text-[#ee513b]" icon={GIT} />
      </div>
    </div>

    <div class="group relative py-6 pl-8 sm:pl-32">
      <div class="font-caveat mb-1 text-lg font-medium sm:mb-0">Culminación de estudios</div>
      <div
        class="mb-1 flex items-start gap-3 before:absolute before:left-2 before:h-full before:-translate-x-1/2 before:translate-y-3 before:self-start dark:before:bg-slate-300 before:bg-slate-600 before:px-px after:absolute after:left-2 after:box-content after:h-1 after:w-1 after:-translate-x-1/2 after:translate-y-1.5 after:rounded-full after:border-4 after:border-primary after:bg-primary group-last:before:hidden sm:flex-row sm:before:left-0 sm:before:ml-[6.5rem] sm:after:left-0 sm:after:ml-[6.5rem]"
      >
        <time
          class="left-0 mb-3 inline-flex translate-y-0.5 items-center justify-center text-xs font-semibold uppercase sm:absolute sm:mb-0"
          >Dec, 2021</time
        >
        <div class="translate-y-0.5 text-xs">UCI, La Habana</div>
      </div>
      <p class="leading-text tracking-text">Graduado de <span class="text-primary">Ingenieria en Ciencias Informáticas</span></p>
    </div>
  </article>
</Container>
